 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Electronics
          </a>
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink ="/" routerLinkActive="active" [routerLinkActiveOptions]="{'exact':true}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink ="/about"routerLinkActive="active">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink ="/contact"routerLinkActive="active">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink ="/profile"routerLinkActive="active">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink ="/dashbord"routerLinkActive="active">Dashbord</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink ="/blog"routerLinkActive="active">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink ="/cart"routerLinkActive="active">cart</a>
          </li>

         

          
        </ul>

        <div class="d-flex gap-1">
        <button class="btn btn-primary " (click)="handleRoute('/')">Home</button>
        <button class="btn btn-warning "(click)="handleRoute('/about')">About</button>
        <button class="btn btn-info "(click)="handleRoute('/profile')">Profile</button>
        <button class="btn btn-danger "(click)="handleRoute('/dashbord')">Dashbord</button>
        <button class="btn btn-primary "(click)="handleRoute('/contact')"> Contact</button>
        <button class="btn btn-primary "(click)="handleRoute('/blog')">Blog</button>
        <button class="btn btn-primary "(click)="handleRoute('/cart')">Cart</button>
      </div>






      </div>
    </div>
  </nav>
